<div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home/{{user.user_id}}">Normal User's Home Page</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="/home/{{user.user_id}}/creator_account">Creator account</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/all_playlists/{{user.user_id}}">Playlists</a>
                    </li>

                    
                    
                    <li class="nav-item">
                        <form action="/user_logout/{{user.user_id}}" method="post">
                            <a class="nav-link" type="button" href="/user_logout/{{user.user_id}}">Logout</a>
                        </form>
                    </li>
                    
                </ul>
                <form class="d-flex" method="post" action="/search_user/{{user.user_id}}" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

            </div>
        </div>
    </nav>


</div>

{% block content %}
{% endblock %}